.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.infinite-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image {
  background-size: cover;
  margin: 5px;
}

.inactive {
  opacity: .15;
}

.mirror {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.panel-transition-appear {
   opacity: 0; 
  /* transform: translate(100%, 0); */
}

.panel-transition-appear-active {
   opacity: 0.15; 
  /* transform: translate(100%, 0); */
}

.panel-transition-enter {
  /* opacity: 0; */
   transform: translate(100%,0); 
}
.panel-transition-enter-active {
  /* opacity: 1; */
  transition: opacity 200ms;
   transform: translate(100%, 200); 
}
.panel-transition-exit {
  /* transform: translate(0, 0); */
  /* opacity: 1; */
}
.panel-transition-exit-active {
  /* transform: translate(-100%, 0); */
  /* opacity: 0; */
  /* transition: opacity 200ms; */
}